<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>

		<servlet-name>PCDepo</servlet-name>
		<servlet-class>edu.scripps.fl.pubchem.cpdp.CPDPXMLProcessServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PCDepo</servlet-name>
		<url-pattern>/retrieve</url-pattern>
	</servlet-mapping>
</web-app>
